
# host
BUILD_HOST = true


# a1x-newlib:
BUILD_A1X_NEWLIB = true

# at91sam7s-newlib:
BUILD_AT91SAM7S_NEWLIB = true

# dm644x-newlib:
BUILD_DM644X_NEWLIB = true


# a1x-eglibc:
BUILD_A1X_EGLIBC = true

# dm644x-eglibc:
BUILD_DM644X_EGLIBC = true

# lpc17xx-uclibc:
BUILD_LPC17XX_UCLIBC = true

# omap35x-eglibc:
BUILD_OMAP35X_EGLIBC = true

# omap543x-eglibc:
BUILD_OMAP543X_EGLIBC = true

# bcm74x-eglibc:
BUILD_BCM74X_EGLIBC = true

# x86_64-eglibc:
BUILD_X86_64_EGLIBC = true
